#root {
  width: 100%;
}

.title {
  text-align: center;
}

.container {
  border: 1px solid black;
  margin: 0 auto;
  width: 640px;
  height: 400px;
  overflow: hidden;
}

.dragging {
  cursor: grabbing;
}

.notDragging {
  cursor: grab;
}
